.theme-dark {
  --background-primary: #000000;
  --background-secondary: #000000;
  --background-secondary-alt: #000000;
  --background-tertiary: #000000;
  --background-accent: #000000;
  --background-floating: #000000;
  --home-background: #000000;

  --background-modifier-accent: #000000;
  --background-modifier-selected: #000000;
  --background-modifier-hover: #000000;
  --primary-600: #000000;
  --primary-630: #000000;

  --primary-dark-400: var(--background-modifier-hover);
  --primary-dark-500: var(--background-accent);
  --primary-dark-600: var(--background-accent);
  --primary-dark-630: var(--background-secondary);

  --deprecated-card-bg: var(--background-secondary);

  --dark-bg-bg-color: #3d3d3d;
  --dark-bg-text-color: #6d6d6d;
  --dark-bg-bg-color-hover: #5d5d5d;

  --modal-background: var(--background-tertiary);
  --modal-footer-background: var(--background-accent);
  --button-secondary-background: var(--background-modifier-selected);
  --input-background: var(--background-secondary);

  --channel-text-area-placeholder: var(--dark-bg-text-color);
  --channeltextarea-background: var(--input-background);

  --scrollbar-auto-thumb: var(--background-secondary);
  --scrollbar-auto-track: transparent;

  --green-thing: rgb(59, 165, 92);
  --default-text-color: var(--interactive-normal);
}

/* patches for things that dont use variables for some unknown reason */

.theme-dark .control-1fl03->.container-2nx-BQ {
  background-color: var(--background-modifier-selected) !important;
}

.theme-dark .control-1fl03->.container-2nx-BQ.disabled-3ipGAF {
  background-color: var(--input-background) !important;
}

.theme-dark .control-1fl03->.container-2nx-BQ.checked-25WXMf {
  background-color: var(--green-thing) !important;
}

.theme-dark .key-N5VmHN {
  background-color: var(--background-modifier-selected);
}

/* message bar colors */

.channelTextArea-1FufC0 {
  --interactive-normal: var(--dark-bg-bg-color);
  --interactive-hover: var(--dark-bg-bg-color-hover);
  --interactive-active: var(--dark-bg-bg-color-hover);
}

.emojiButtonNormal-35P0_i>div {
  filter: brightness(0.6);
}

.autocomplete-3NRXG8 {
  --interactive-normal: var(--default-text-color);
  --interactive-active: var(--default-text-color);
}

/* forum post divider */
.divider-AZrXIA {
  background-color: #000000;
}

/* customize community channel */
.theme-dark .innerHeader-1cC3Fp:after {
  background: linear-gradient(180deg, rgba(50, 52, 58, 0) 0, #000000);
}

.theme-dark .container-1um7CU {
  background-color: #000000;
}

.theme-dark .container-2IKOsH,
.theme-dark .header-3xB4vB {
  background-color: #000000;
}

.theme-dark .emptyPage-2TGR7j,
.theme-dark .scrollerContainer-y16Rs9 {
  background-color: #000000;
}

/* app directory */
.theme-dark .directoryModal-YJsOMv {
  background-color: #000000;
}

/* server discovery */
.theme-dark .pageWrapper-2PwDoS {
  background-color: #000000;
}

/* activity status popout */
.theme-dark .addGamePopout-2SKNIV {
  background-color: #000000;
}

/* slash commands */
.theme-dark .autocomplete-3NRXG8 {
  background-color: #000000;
}