html,
body,
#__next {
    background: black;
}

.fOvxQX,
.eMVguT {
    background: black;
}

.XOSnl,
.giFyDV,
.ysttk,
.dgnJLe,
.kKRJJo {
    background: black;
}

.kQFPCx,
.hbiiVw {
    background: rgba(0, 0, 0, 0.5);
    border: unset;
}

.fwclAm,
.kWwwAx,
.bibYvL,
.eGUjDV,
.jGpjcm,
.fbizCy,
.hzfiiY,
.fTKvzL,
.khZVqM {
    background: rgb(16, 16, 16);
}

.dpIiro:focus,
.dpIiro:hover {
    background: rgb(16, 16, 16);
}

.fcljCk {
    background: black;
}

.fciCUT {
    background: linear-gradient(rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 0.95) 50.52%, rgb(16, 16, 16) 100%)
}

.QJnls {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 48.08%)
}

.gTxRgT {
    background: linear-gradient(270deg, rgb(0, 0, 0) 51.92%, rgba(0, 0, 0, 0) 100%)
}

.ceysov::after,
.fciCUT::before {
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(16, 16, 16))
}


.dpIiro,
.eMVguT {
    transition: 0.12s ease-in-out;
    padding: 0.75rem 0.5rem;
}

.pgaZj,
.kHSpsl,
.jZBaoz,
.kIPzYG {
    background: black;
}


.kXhUnM,
.jqtWXZ,
.hdgzbx,
.hjIXeP,
.gBUoch {
    background: black;
}

.fdieit,
.ajAOa,
.cDkuzJ {
    display: none !important;
}

.fZCYSr,
.sc-68b3b28b-0.yseLC,
.bSFJcH,
.mbxjq {
    display: none !important;
}

.igAfu {
    justify-content: center;
}

.dBGNzs {
    border: 0px solid transparent;
}

.ebnYUN {
    padding-bottom: 128px;
}